.nav-plus{
    text-align: center;
}
.div-mas{
    display: flex;
    flex-direction: row;
    border: solid 1px rgb(189, 210, 214);
    width: 352px;
    height: 50px;
    margin-left: 12px;
    margin-right: 10px;
    margin-top: 20px;
    padding: 14px;
    border-radius: 5px;
}


.label-window{
    color:  rgb(1, 116 , 142);
    margin-left: 10px;
    font-family:BARLOW;
}

.iconos-mas{
    width: 24px;
    height: 25px;
    margin-left: 0px;
}
.div-arrow{
    width: 20px;
}

.iconos-salir{
    width: 24px;
height: 25px;
margin-left: 0px;
}

.div-salir{
    display: flex;
border: solid 1px;
margin-top: 100px;
color:rgb(189, 210, 214);
width: 352px;
height: 50px;
padding: 15px;
flex-direction: row;
text-align: center;
margin-left: 12px;
border-radius: 5px;
}

.arrow-plus1{
    margin-left: 107px;

}

.arrow-plus2{
    margin-left: 228px;
}

.arrow-plus3{
    margin-left: 195px;
}

.arrow-plus4{
    margin-left: 243px;
}

.arrow-plus5{
    margin-left: 189px;
}

.arrow-plus6{
    margin-left: 257px;
}