.b-primereact-carousel__general {
    padding: 20px;
    margin-top: 50%;
    margin-bottom: auto;
    font-size: 20px;
    text-align: center;
}

.b-primeract-carousel__photo{
    width: 100%;
}


.b-primereact-carousel__title{
    font-weight: bold;
    padding-right: 20px;
    color: #01748e;
}
