.requisitos-adoption{
    width: 355px;
    height: 88px;
    border: 1px solid rgb(170, 222, 235);
    margin-left: 10px;
    margin-top: 15px;
    padding: 5px;
}
.tasa-adoption{
    width: 355px;
    height: 88px;
    border: 1px solid rgb(170, 222, 235);
    margin-left: 10px;
    margin-top: 15px;
    padding: 5px;
}
.envio-otra-ciudad{
    width: 355px;
    height: 88px;
    border: 1px solid rgb(170, 222, 235);
    margin-left: 10px;
    margin-top: 15px;
    padding: 5px;
}
.optionsA{
    text-decoration: none;
    font-size: 18px;
  font-weight: bold;
  color: rgb(110, 109, 109);
}
.linkopt{
    text-decoration: none;
}

.saluds{
    text-decoration: none;
}
