.fa-search{
    position: absolute;
    top: 53px;
    left: 19em;
}
.inputSearcher{
    position: absolute;
    color:rgb(189,210,214);
    margin-top: 5%;

}
.input-search{
    margin-left: 1em;
}

//Para cambiar de tamaño la caja de búsqueda, ajustarlo en inputSearcher
//Para movel la lupa, manipular el margin-left y top para ajustarlo.