
.buscarmapa{
    margin-bottom: 50px;
}
.container-mapa{
width: 100%;
margin-top:36%;
}

.fa-buscar{
    position: absolute;
    top: 2em;
    left: 19em;
}
.inputBuscador{
    position: absolute;
    color:rgb(189,210,214);
    margin-top: 11%;
    height: 32px;
    width: 25em;
    border-radius: 10px;
    border: 1px solid #bdd6d2;

}
.input-buscador{
    margin-left: 1em;
}
.imagen-lupa{
    height: 24px;
    width: 25px;
    margin-top: -28%;
}